element-styles {
    display: inline-block;
    width: 1718px;
}
.all {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    min-width: fit-content;
    padding-top: 25px;
    padding-right: 4px;
    padding-left: 54px;
    background: #d9d9d9;
    border-radius: 50px;
}
.left {
    flex: 0 0 auto;
    padding-top: 31.5px;
}
.topic {
    padding: 0;
    margin: 0;
    font: 600 54px/54px Inter, sans-serif;
    color: black;
    text-align: left;
}
.totopic {
    padding: 0;
    margin: 0;
    margin-top: 39px;
    font: 400 20px/20px Actor, sans-serif;
    color: black;
}
.btnplace {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 41px;
}
.twobtn {
    box-sizing: border-box;
    width: fit-content;
}
.new {
    box-sizing: border-box;
    flex: 0 0 242px;
    padding: 0;
    margin: 0;
    margin-left: 32px;
    font: 400 24px/24px Actor, sans-serif;
    color: white;
    background: #51618b;
    height: 50px;
    font-family: auto;
    border-radius: 15px;
}
.old {
    box-sizing: border-box;
    flex: 0 0 242px;
    padding: 0;
    margin: 0;
    margin-left: 32px;
    font: 400 24px/24px Actor, sans-serif;
    color: white;
    background: #51618b;
    height: 50px;
    font-family: auto;
    border-radius: 15px;
}
.imgandnotes {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 831px;
    flex-wrap: nowrap;
    align-content: center
}
.mid {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-end;
    padding: 48px;
}
.notebord {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    padding-right: 15px;
    padding-left: 15px;
    background: rgb(255 255 255);
    border-radius: 50px;
}
.note1 {
    box-sizing: border-box;
    display: block;
    width: 30px;
    max-width: initial;
    height: 33px;
    border: none;
    object-fit: cover;
}
.notestr1 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    margin-left: 12px;
    font: 300 18px / 18px Kalam, cursive;
    color: black;
    font-size: 14px;
}
.note2 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 45px;
    padding-right: 18px;
    padding-left: 18px;
    margin-top: 34px;
    background: #2a3d71;
    border-radius: 50px;
}
.notestr2 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 300 16px / 16px Kalam, cursive;
    color: #f7f7f7;
    font-size: 12px;
                    }
.girl {
    box-sizing: border-box;
    display: block;
    width: 430px;
    max-width: initial;
    height: 361px;
    margin-left: -26px;
    border: none;
    object-fit: cover;
    } 