.futuristic-academy-card {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 4px;
    padding-left: 54px;
    background: #d9d9d9;
    border-radius: 50px;
  }
  .academy-intro-section {
    flex: 0 0 auto;
    padding-top: 31.5px;
  }
  .futuristic-heading {
    padding: 0;
    margin: 0;
    font: 600 54px/54px Inter, sans-serif;
    color: black;
    text-align: left;
  }
  .learning-journey-heading {
    padding: 0;
    margin: 0;
    margin-top: 39px;
    font: 400 20px/20px Actor, sans-serif;
    color: black;
  }
  .course-list-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 41px;
  }
  .course-card {
    box-sizing: border-box;
    flex: 0 0 225px;
  }
  .hero-banner-text-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 54px;
    padding-left: 19px;
    font: 400 24px/24px Actor, sans-serif;
    color: white;
    background: #51618b;
    border: none;
  }
  .transparent-input-style {
    box-sizing: border-box;
    width: 100%;
    font: 400 24px/24px Actor, sans-serif;
    background: transparent;
    border: none;
    outline: none;
  }
  .input-style-2a23c945::placeholder {
    color: white;
  }
  .course-title-section {
    box-sizing: border-box;
    flex: 0 0 242px;
    padding: 0;
    margin: 0;
    margin-left: 32px;
    font: 400 24px/24px Actor, sans-serif;
    color: white;
    background: #51618b;
  }
  